main {
  width: 70%;
}

#sidebar {
  width: 30%;
  position: fixed;
  right: 0px;
  top: 0px;
  overflow-y: scroll;
  height: 100%;
}

@media print {
  #sidebar, #toc, input {
    display: none;
  }
}
